@{
    ViewData["Title"] = "Adicionar registo";
}
<div class="card mb-4">
    <div class="card-header">
        <h5 class="d-inline">
            <a href="~/Entry"><img src="~/img/back.png" style="width:28px; margin-left: -5px;" /></a>
            Adicionar registo
        </h5>
    </div>
    <div class="card-body">
        <form id="EntryForm" name="EntryForm" autocomplete="off" style="margin-bottom: 10px;">
            <div class="row">
                <div class="col-sm p-2">
                    <label for="Amount" class="fw-bold">Montante</label>
                    <input type="number" inputmode="decimal" id="Amount" name="Amount" class="form-control" step="0.01">
                </div>
                <div class="col-sm p-2">
                    <label for="ProfileId" class="fw-bold">Perfil</label>
                    <select name="ProfileId" id="ProfileId" class="form-select form-control cursor-pointer" onchange="this.form.submit()">
                        @foreach (Profile profile in Model.profiles)
                        {
                            <option value="@profile.Id" selected="@(profile.Id == Model.profileId)">
                                @profile.Name
                            </option>
                        }
                    </select>
                </div>
                <div class="col-sm p-2">
                    <label for="categoryId" class="fw-bold">Categoria</label>
                    <select name="Category.Id" id="CategoryId" class="form-select form-control cursor-pointer">
                        <option value="0">Selecionar</option>
                        @foreach (Category category in Model.categories)
                        {
                            <option value="@category.Id" selected="@(category.Id == Model.categoryId)">
                                @category.Name
                            </option>
                        }
                    </select>
                </div>
                <div class="col-sm p-2">
                    <label for="date" class="fw-bold">Data</label>
                    <input type="datetime-local" class="form-control" name="Date" id="Date" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")">
                </div>
            </div>
            <div class="row">
                <div class="col-sm p-2">
                    <label for="Description" class="fw-bold">Descrição</label>
                    <textarea class="form-control" name="Description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <input type="submit" value="Guardar" id="SubmitButton" class="btn btn-primary mt-4" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        jQuery('#EntryForm').submit(function () {
            
            let amount = document.getElementById("Amount");
            let categoryId = document.getElementById("CategoryId");
            let date = document.getElementById("Date");

            if (amount.value == "") {
                EntryForm.Amount.focus();
                warningAlert("Por favor, preencha o montante!");
            }else if (categoryId.value == 0) {
                EntryForm.CategoryId.focus();
                warningAlert("Por favor, selecione a categoria!");
            }else if (date.value == "") {
                EntryForm.Date.focus();
                warningAlert("Por favor, preencha a data!");
            }else {
                swal.fire({
                    title: "Confirma os dados inseridos?",
                    icon: 'warning',
                    background: '#212529',
                    color: '#fff',
                    showCancelButton: true,
                    confirmButtonColor: '#0D6EFD',
                    confirmButtonText: 'Sim!',
                    cancelButtonColor: '#6D757D',
                    cancelButtonText: "Cancelar!",
                    customClass: {
                        confirmButton: 'btn-size',
                        cancelButton: 'btn-size'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        $('#EntryForm').addClass('form-blocked');
                        jQuery.ajax({
                            type: "POST",
                            url: baseUrl + "Entry/Add",
                            data: new FormData(document.getElementById("EntryForm")),
                            mimeType: "multipart/form-data",
                            contentType: false,
                            processData: false,
                            success: function (data, textStatus, jqXHR) {
                                successReloadToURL(baseUrl + "Entry?profileId=@Model.profileId&categoryId=@Model.categoryId");
                                $('#EntryForm').removeClass('form-blocked');
                            },
                            error: function (jqXHR) {
                                errorAlert("Ocorreu um erro!");
                                $('#EntryForm').removeClass('form-blocked');
                            }
                        });
                    }
                });
            }
            return false;
        });
    });
</script>