@using System.Globalization
@{
    ViewData["Title"] = "Registos";
}
<div class="card mb-4">
    <div class="card-header">
        <h5 class="d-inline">Registos</h5>
        <a href="~/Entry/Add?profileId=@Model.profileId&categoryId=@Model.categoryId"><img src="~/img/add.png" style="width:28px;" class="ms-1" /></a>
    </div>
    <div class="card-body">
        @{
            if (Model.profiles.Count == 0)
            {
                <div class="text-center">
                    <h5 class="mt-5">Para começar, <a href="~/Profile/Add">adicione um perfil</a></h5>
                </div>
            }
            else
            {
                <div>
                    <form method="get">
                        <select name="profileId" class="form-select form-control d-inline w-auto cursor-pointer m-1" onchange="this.form.submit()">
                            @foreach (Profile profile in Model.profiles)
                            {
                                <option value="@profile.Id" selected="@(profile.Id == Model.profileId)">
                                    @profile.Name
                                </option>
                            }
                        </select>
                        <select name="categoryId" class="form-select form-control d-inline w-auto cursor-pointer m-1" onchange="this.form.submit()">
                            <option value="0">Todas</option>
                            @foreach (Category category in Model.categories)
                            {
                                <option value="@category.Id" selected="@(category.Id == Model.categoryId)">
                                    @category.Name
                                </option>
                            }
                        </select>
                        <input name="startDate" type="date" class="form-control d-inline cursor-pointer m-1" style="width:160px; font-size: 11pt;" onchange="this.form.submit()" value="@Model.startDate" />
                        <input name="endDate" type="date" class="form-control d-inline cursor-pointer m-1" style="width:160px; font-size: 11pt;" onchange="this.form.submit()" value="@Model.endDate" />
                    </form>
                </div>
                <hr />
            }

            if(Model.entries.Count > 0)
            {
                <div class="d-flex flex-wrap gap-2 fw-bold">
                    <div>Créditos: <b class="green">@Model.credit.ToString("N2", new CultureInfo("pt-PT"))</b></div>
                    <div>Débitos: <b class="red">@Model.debit.ToString("N2", new CultureInfo("pt-PT"))</b></div>
                    <div>Diferença: <b class="@(Model.balance > 0 ? "green" : "red")">@Model.balance.ToString("N2", new CultureInfo("pt-PT"))</b></div>
                </div>
                <hr />
                <div class="table-responsive">
                    <table class="table table-striped" id="table">
                        <thead>
                            <tr>
                                <th>Categoria</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (Entry entry in Model.entries)
                                {
                                    <tr>
                                        <td><a href="~/Entry/Edit/@entry.Id" class="link-light">@entry.Category.Name</a></td>
                                        <td>@entry.Description</td>
                                        <td>
                                            @{
                                                if (entry.Category.Type == ActionType.DEBIT)
                                                {
                                                    <span class="fw-bold red">@entry.Amount.ToString("N2", new CultureInfo("pt-PT"))</span>
                                                }
                                                else
                                                {
                                                    <span class="fw-bold green">@entry.Amount.ToString("N2", new CultureInfo("pt-PT"))</span>
                                                }
                                            }

                                        </td>
                                        <td>@entry.Date.ToString("dd/MM HH:mm")</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p class="p-4">Nenhum registo encontrado!</p>
            }
        }
    </div>
</div>




